<h1>Postcode Service Checker System</h1>

<br>
<%= link_to 'Postcode Service Checker', controller: 'service'  %>
<br>
<br>
<%= link_to 'Manage White-list Lsoas', controller: 'lsoas' %>
<br>
<br>
<%= link_to 'Manage White-list Postcodes', controller: 'postcodes' %>
<br>