<h1>Show White-listed Postcode</h1>

<p>
  <strong>Code:</strong>
  <%= @postcode.code %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @postcode.description %>
</p>

<%= link_to 'Edit', edit_postcode_path(@postcode) %> |
<%= link_to 'All White-list Postcodes', controller: 'postcodes' %>